
*{
  margin: 0;
  padding: 0;
  box-sizing: box-border;
}
html{
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.5rem;
  background: #DCDEFF;
 
}
.inicio{
 display: flex;
 flex-direction: column;
 width: 98%;
 background: rgb(26, 107, 229, 0.7);
 border-radius: 12px;
 margin-bottom: 10px;
 margin-top: 5px;
 margin-left: 1%;
 

}
.texto{
  text-align: center;
  padding: 10px;
  border-radius: 15px;
  background: rgba(254, 255, 255, 0.83);
  font-size: 1.4rem;
  margin: 9px;
 
}
.wal{
  margin: 7px;
  margin-left: 2%;
  width: 95%;
  border-radius: 15px;
  height: 25%;
}
.header {
  font-size: 1rem;
  background: rgb(26, 107, 229, 0.7);
  border-radius: 10px;
  height: 34px;
  margin: 2px 2px 2px 2px;
  padding: 4px;
 
  
}
.container-header{
  width: 100%;
  display: flex;
  flex-direction: row ;
  align-items: center;
  justify-content: space-between;
  margin: 1%;
}
.buscador{
   border-radius: 10px;
   width: 40%;
   height: 16px;
   padding: 4px;
  
}
a{
  text-decoration: none;
 font-style: italic;
  font-size: 1.2rem;
}
.container-main{
  font-size: 1.2rem;
  width: 98%;
  display: flex;
  background: rgba(48, 110, 203, 0.83);
  border-radius: 18px;
  margin-bottom: 10px;
  margin-top: 5px;
  margin-left: 1%
}
.etiq{
  background: paleturquoise;
  border: solid mediumspringgreen 2px;
  border-radius: 10px;
  width: 85%;
  margin: 10px 0 10px 5px;
  padding: 3px;
  font-size: 1.2rem;
}
.division {
  background: black;
  border-radius: 50px 0 50px 0;
  width: 5%
}
.main-div{
  text-align: center;
  margin: 20px;
  width: 100%;
  display: flex ;
  flex-direction: column;
  overflow-y: scroll;
 
  
}
.footer-main {
  background: beige;
  width: 100%;
  border-radius: 10px 10px 0 0;
  height: auto;
  border: solid 2px ;
  padding: 11px;
  box-sizing: border-box;
}
.footer-main > .facultades, .medios, .nucleos {
  border: solid;
  padding: 8px;
  margin: 2px;
  border-radius: 8px;
}
.boton{
  font-size: 1.2rem;
  padding: 4px;
  border-radius: 20px;
  border: transparent;
  
}
ul{
  list-style: none;
}


 .sidebar {
      width: 0;
      background-color: #939AEA;
      overflow: auto;
      position: absolute;
      transition: width 0.5s;
      
      height: 100%;
    }
  .sidebar > ul {
    padding: 20px;
  }